@{
    ViewData["Title"] = "Home Page";
    //(Bakery)privedenie k tipu, casting

}
<!-- cs menar c# -->
<div class="text-center">
    
 
 <!-- we insert values of html tags from csharp object  -->
<h2>WhatsApp:070 6789</h2>
     <h2>Address:Vasa gata 5</h2>
      <h2>Email:ya@bakery.se</h2>
      
    
  <h4><a href="/">Main Page</a></h4>

    
</div>