@{
    ViewData["Title"] = "Home Page";
    //(Bakery)privedenie k tipu, casting

}
<!-- cs menar c# -->
<div class="text-center">
    <h1 class="display-4">Welcome To  Our  Bakery!!!</h1>
    <p>WE ARE WORKING FOR YOU FOR ROUND THE CLOCK!</p>
 
 <!-- we insert values of html tags from csharp object  -->

    <img src="~/img/bread1.jpg">

  <h4><a href="/product/list">Our Production</a></h4>
    <h4><a href="/feedback/list">Feedback from Users</a></h4>



</div>