@{ViewData["Title"] = "Product";
    Product prod = (Product)ViewData["product"];
    string guid = (string) ViewData["guid"];
}
<div>
@{if(prod == null){
    <h2>PRODUCT NOT FOUND!</h2>
}
else{
    <ul>
        <li>
            name: @prod.Name
        </li>
        <li>
            description: @prod.Description
        </li>
        <li>
            weight: @prod.Weight
        </li>
        <li>
            price: @prod.Price
        </li>
    </ul>
    <form action="/feedback/add" onsubmit="return checkFeedback(event)">
    <p>If you liked this, you can send your  feedback here: </p>
    <label> Your name: </label>
    <input name="users_name">
    <br>
     <label> Your mark: </label>
    <input name="mark">
    <br>
    <input name="product_id" type="hidden" value=@prod.Id>
    <input name="users_id" type="hidden">
    <textarea name="feedback"></textarea>
    <br>
    <input type="submit" value="Send feedback">
    
    </form>
    //ssilka nazad
    <p><a href="/product/list"> Return to List</a> </p>
    <script>
        var form = document.forms[0]
        form.reset()
        form.users_name.value = localStorage.getItem('users_name') || ''
    </script>
}
}
</div>
